.forgetcomp-wrapper {
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgetcomp-body {
  width: 300px;
  height: 300px;
  /* background-color: red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-block: 40px;
}

.forget-user-info {
  font-size: 14px;
}

.forget-comp-icon {
  background-color: brown;
  color: white;
  width: 80%;
}

.forget-comp-icon:hover {
  background-color: brown;
}

.forget-comp-input {
  width: 80%;
  margin-inline: auto;
}

.forget-comp-input-label {
  text-align: left !important;
  /* padding-left: 20px; */
}
