@import url("../../Styles/main.css");

.off-canvas-container {
  background-color: var(--light-blue) !important;
  width: 150px !important;
}
.off-canvas-container ::-webkit-scrollbar {
  display: none;
}

.off-canvas-container .off-canvas-body {
  color: var(--gull-grey);
}

.off-canvas-container .off-canvas-body .off-canvas-active-icon-wrapper {
  color: var(--dark-seaform);
}

.off-canvas-container .off-canvas-body .off-canvas-default-icon-wrapper {
  color: var(--gull-grey);
}

.off-canvas-container .off-canvas-body .off-canvas-default-icon-wrapper:hover {
  color: var(--dark-seaform);
}

.off-canvas-icon-name {
  font-size: var(--fs12);
  font-weight: 600;
}
